<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Tomax</title><title>Заголовок таблицы</title><title>Добавление рисунков</title>
   <title>Глобальные стили</title>
  <style>
  BODY
   {
  background-color: #c0c0c0
  }
   H1 { 
    font-size: 250%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: 	#800080; 
   }
   P
   {
   background-color:#ffff00
 }
 TABLE
 {
  background-color:#ffffff
  }
  </style>
 </head>
 <body>
 <h1>Tomax</h1>
 <p> Томах Александр Александрович 14.09.1987г.р., в данный момент является студентом "Telesens Academy" курс  "QA Automation Core"</p>
 <p><img src="https://www.google.com.ua/search?q=смешные+картинки+про+программистов&tbm=isch&tbo=u&source=univ&sa=X&ved=0ahUKEwjglq7YiKTbAhWEFSwKHdemCtcQsAQIJQ&biw=1536&bih=734#imgdii=wUgTMuUFRa5z0M:&imgrc=KcWTlC2uccXnOM:"
                                                                                    alt="Это абсолютный адрес размещения изображения"></p>
 <table>
 <table width="100%" border="1" cellpadding="4" cellspacing="0">
  <caption>Расписание занятий "QA Automation Core"</caption>
   <tr>
   <th>День недели</th> <th>Время</th><th>Часы</th>
</tr>
<tr>
<td>Вторник</td><td>18-30</td><td>2 часа</td>
</tr>
<tr>
<td>Четверг</td><td>18-30</td><td>2 часа</td>
</tr>
<tr>
<td>Суббота</td><td>09-00</td><td>2 часа</td>
</tr>
</table>
    <h3>Виды веб-форм</h3>
    <div>
    <h4>Поле для ввода адреса электронной почты</h4>
    <form action="example_Form.html" name="MyForm" method="GET" > 
        <input autocomplete="on" type="email" autofocus placeholder="me@example.com" required>
        <input type="submit" name="submit" value="Кнопка">
        </form>
    </div>
    <br>
    <br>
    <div>
    <h4>Поле для ввода URL-адреса</h4>
    <form action="example_Form.html" name="MyForm" method="GET" > 
        <input type="url">
        <input type="submit" name="submit" value="Кнопка">
        </form>
    </div>
    <br>
    <br>
    <div>
    <h4>Ползунок</h4>
    <form action="example_Form.html" name="MyForm" method="GET" > 
        <input type="range" name="range" min="-1" max="100" step="1" value="10">
        <input type="submit" name="submit" value="Кнопка">
        </form>
    </div>
    <br>
    <br>
    <div>
    <h4>Поле для ввода числовых данных, часто в виде элемента-счетчика</h4>
    <form action="example_Form.html" name="MyForm" method="GET" > 
       <input type="number" min="2" max="10">
       <input type="submit" name="submit" value="Кнопка">
        </form>
    </div>
    <br>
    <br>
    <div>
    <h4>Поле для ввода числовых данных, часто в виде элемента-счетчика</h4>
    <form action="example_Form.html" name="MyForm" method="GET" >
       <input type="color" name="">
       <input type="submit" name="submit" value="Кнопка">
    </div>
    <br>
    <br>
    <div>
    <h4>Поле для ввода даты. Поддерживаются типы date, month и week</h4>
    <form action="example_Form.html" name="MyForm" method="GET" >
       <input id="date" type="date">
       <input type="submit" name="submit" value="Кнопка">
    </div>
    <br>
    <br>
     <div>
    <h4>Поле для ввода даты со временем</h4>
    <form action="example_Form.html" name="MyForm" method="GET" >
       <!--<input id="datetime" type="datetime"> - Устарело !!! -->
       <input id="datetime" type="datetime-local">
       <input id="time" type="time">     
       <input type="submit" name="submit" value="Кнопка">
    </div>
    <br>
    <br>
    <div>
    <h4>Поле для ввода ключевых слов поиска</h4>
    <form action="example_Form.html" name="MyForm" method="GET" >
       <input type="search">     
       <input type="submit" name="submit" value="Поиск">
    </div>
    <br>
    <br>
    <form action="example_Form.html" name="MyForm" method="GET" > 
    	<!-- accept-charset="utf-8" enctype="text/liain" method="GET" novalidate autocomplete="on" -->
    	<!-- enctype --
<!-- application/x-www-form-urlencodedВместо пробелов ставится +, символы вроде русских букв кодируются их шестнадцатеричными значениями (например, %D0%90%D0%BD%D1%8F вместо Аня).multipart/form-dataДанные не кодируются. Это значение применяется при отправке файлов.text/plainПробелы заменяются знаком +, буквы и другие символы не кодируются. -->
    	<!-- <form name="MyForm" > -->
	    <!-- <input type="text" name="first_name" value="что нибудь" > autofocus - Поддержка передачи фокуса конкретному элементу формы. -->
	   <!--  ОЧИСТКА ПОЛЯ !!! -->
	   <br>
    	<input type="text" name="first_name1" placeholder="Ваше имя" required> 
    	<!-- id
    	label -->
				<br>
				<fieldset title="текст">
				<label for="first_name1">Ваше имя: </label>
    	    	<input type="text" id="first_name1" name="first_name1" placeholder="Ваше имя" > 
    	<br>
    	<br>
				Password: <input type="password" name="password">
				</fieldset>
    	<br>
    	<br>
    			Ваш пол : <input type="radio" value="male" name="sex" checked >Мужской | <input type="radio" value="female" name="sex">Женский <!-- не работает как надо !!! надо добавить name -->
    	<br>
    	<br>
				<textarea name="comments">		
				</textarea>
				 <!-- rows cols -->
    	<br>
    	<br>
    			<input type="checkbox" value="1">Запомнить
    	<br>
    	<br>
    	<input type="submit" name="submit" value="Кнопка">
		<br>
    	<br>
    	<input type="text" list="mydata" > <br><br>
    	<datalist id="mydata">
    		<option label="грн" value="гривны">
    		<option label="$" value="доллар">
    	</datalist>
    	<input type="checkbox" name="option1" value="a1" checked>Windows 95/98<Br>
    	<br>
    	<button type="reset" name="reset">Reset</button>
    	<!-- <div>
    		<input type="email" name="">
    	</div>
    	<div>
    		<input type="search">
    	</div> -->
    	<div>
    		<input type="url">
    	</div>
<div>
    	<input type="file" name="file" id="file"/>
    	</div>
    	<div>
    		<input type="number" min="2" max="10"> 
    	</div>
				 <div>
				 <input id="date" name="date" type="date"/>
				 </div>
    </form>
<!-- <input type="button">
<input type="checkbox">
<input type="color">
<input type="date">
<input type="datetime">
<input type="datetime-local">
<input type="email">
<input type="file">
<input type="hidden">
<input type="image">
<input type="month">
<input type="number">
<input type="password">
<input type="radio">
<input type="range">
<input type="reset">
<input type="search">
<input type="submit">
<input type="tel">
<input type="text">
<input type="time">
<input type="url">
<input type="week"> -->
   </body>
</html>   

    