<!DOCTYPE html>
<html>
<head>
<title>Дом задание</title>
</head>
<body>
<body text="#663399" bgcolor="#00FF00">
<div align="center">
<h2>Я как не ленивый CSS отдельно выносить не буду.</H2>
</div>
<br>
<div align="center">
<font color="#990000"> <h3>Добро пожаловать! :)</h3> </font>
</div>
<div align="center">
<img src="Angel71.jpg" align="bottom"width="300"height="200"alt="Пример картинки">
</div>
<div align="center">
А вот это уже пример размещение картинки.
<br>
Простейшая табличка.
 <table border="3">
<tr bgcolor="#FFCC33">
<td height="35" width="50"> <center>1:1 <c/enter> </td>
<td width="50"> <center>1:2 </center> </td>
<td width="50"> <center>1:3 </center></td>
</tr>
<tr bgcolor="#0000CC">
<td height="35" width="50"> <center>2:1</center> </td>
<td width="50"> <center>2:2</center> </td>
<td width="50"> <center>2:3</center> </td>
</tr>
<tr bgcolor="#006633">
<td height="35" width="50"> <center>3:1</center> </td>
<td width="50"> <center>3:2</center> </td>
<td width="50"> <center>3:3</center> </td>
</tr>
</table>
</div>
<div align="left">
Укажите имя:
<form>
<input type="text" name="Nickname">
<input type="submit" name="submit" value="Проверить">
</form>
Укажите мыло:
<form>
<input autocomplete="on" type="email" placeholder="me@example.com" required>
<input type="submit" name="submit" value="Послать">
</form>
Укажите URL:
<form> 
<input type="url" placeholder="example.com" required>
<input type="submit" name="submit" value="Отправить">
</form>

</body>
</html>